<ons-tabbar hide-tabs="{{tabbarShouldHide}}">

	<ons-tabbar-item
          active="true"
		  label="Únete"
          icon="chain"
          page="views/unete.html"></ons-tabbar-item>

	<ons-tabbar-item
		  label="Localiza"
          icon="map-marker"
          page="views/localiza.html"></ons-tabbar-item>

  <ons-tabbar-item
      label="Perfil"
          icon="user"
          page="views/user.html"></ons-tabbar-item>

    <ons-tabbar-item
      label="Info"
          icon="info"
          page="views/info.html"></ons-tabbar-item>    
    <ons-tabbar-item
          label="Comparte"
          icon="share"
          page="views/share.html"></ons-tabbar-item>

          
</ons-tabbar>