<style>
  .tabs-positive > .tabs, .tabs.tabs-positive {
    border-color: purple;
    background-color: purple;
    background-image: linear-gradient(0deg, #145fd7, #145fd7 50%, transparent 50%);
    color: #fff;
    }
</style>
<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-positive">

  <!-- Unete Tab -->
  <ion-tab title="Únete" icon="ion-ios7-people-outline" href="#/tab/unete">
    <ion-nav-view name="tab-unete"></ion-nav-view>
  </ion-tab>


  <!-- Pets Tab -->
  <ion-tab title="Localiza" icon=" ion-ios7-navigate-outline" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>


  <!-- Adopt Tab -->
  <ion-tab title="Perfil" icon=" ion-ios7-person-outline" href="#/tab/friends">
    <ion-nav-view name="tab-friends"></ion-nav-view>
  </ion-tab>


  <!-- About Tab -->
  <ion-tab title="Info" icon=" ion-ios7-information-outline" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  <!-- About Tab -->
  <ion-tab title="Comparte" icon=" ion-ios7-redo-outline" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>



</ion-tabs>
