<style>
	.card, .list-inset {
		 margin: 20px 0px; 
	}
/*	.bar.bar-positive {
		border-color: purple;
		background-color: purple;
		background-image: linear-gradient(0deg, #145fd7, #145fd7 50%, transparent 50%);
		color: #fff;
	}	*/

</style>


<ion-view title="Chats cercanos">
  <ion-content class="has-header">
    <ion-list>
      <ion-item class="item-icon-right" ng-repeat="chat in chatsOrdenados" type="item-text-wrap" href="#/tab/friend/hola">
<!--         	<button 
        		class="button button-small button-light"  
        		style="line-height: 16px;padding:8px 2px; margin-right:8px; width:5em;  background-color:{{chat.color}}">
        		<span style="color:white"> {{chat.distance|enKm}}</span>
        	</button>  -->
        	<span style="color: #69F; ">{{chat.title}}</span>
<button class="button button-small  button-clear button-positive" style="color:{{chat.color}}">
  {{chat.distance|enKm}}
</button>
       	  <br>
        	<span style="font-size:0.8em">{{chat.creationtime}} ({{chat.creator}})</span>
 <!--        	<span style="color: #69F; ">{{chat.title}}</span>  <br>
        	<span style="margin-left:5.5em; font-size:0.8em">{{chat.creationtime}} ({{chat.creator}})</span> -->
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>


<!-- <div class="bar bar-header bar-light">
	<button class="button button-icon icon possitive ion-ios7-plus-outline"></button>
  	<h1 class="title">Chats cercanos</h1>
  	<button class="button button-icon icon ion-load-c"></button>
</div>

<div class="bar bar-subheader">

  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" ng-model="search.title"  placeholder="Buscar">
  </label>

</div>


<ion-content>

	<div class="list card" style="margin-top:95px">

		<div class="row  rosali" ng-repeat="chat in chatsOrdenados | filter:search:strict">
		  <div class="col col-25">  
		  	<button class="button button-small button-light"  style="line-height: 16px;padding:8px 2px; margin-top:6px; width:85%;  background-color:{{chat.color}}"><span style="color:white"> {{chat.distance|enKm}}</span></button>
		  </div>
		  <div class="col">  <p style="color: #69F; font-weight:bold; font-size:1.3em">{{chat.title}}</p><p>{{chat.creationtime}} ({{chat.creator}})</p> </div>
		</div>

	</div>
</ion-content>  -->

